/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-popup-videos {
	background-color: #eee;
	color: #333;
	padding: 2px;
	p{
		background-color: #f1f1f1;
		color: #333;
	}
	.input-box{
		float: left;
		width: 50%;
	}
	.preview-box{
		float: right;
		width: 50%;
	}
}

.video-carousel {
	width: 100%;
	.slick-slider{
		padding: 0 40px;
	}
	.slick-list{
		width: 100%;
	}
	.carousel-arrow {
		background-color: #f1f1f1;
		display: block;
		width: 23px;
		height: 70px;
		position: absolute;
		transform: translate(0,-50%);
		top: 50%;
		cursor: pointer;
		&.prev {
			background: url(../js/carousel_arrowprev.png) no-repeat;
			left: 5px;
		}
		&.next {
			background: url(../js/carousel_arrownext.png) no-repeat;
			right: 5px;
			margin-top: 0;
		}
	}
	.single-video{
		margin: 5px;
		cursor: pointer;
		.modal-video-title{
			font-size: .8rem;
			text-align: left;
			display: inline-block;
		}
	}
}