/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-popup-videos {
	background-color: #eee;
	color: #333;
	padding: 2px;
	p{
		background-color: #f1f1f1;
		color: #333;
	}
	.input-box{
		float: left;
		width: 50%;
	}
	.preview-box{
		float: right;
		width: 50%;
	}
}

.video-carousel {
	width: 100%;
	.slick-slider{
		padding: 0 40px;
	}
	.slick-list{
		width: 100%;
	}
	.carousel-arrow {
		background-color: #f1f1f1;
		display: block;
		width: 23px;
		height: 70px;
		position: absolute;
		top: 50px;
		cursor: pointer;
		&.prev {
			background: url(../js/carousel_arrowprev.png) no-repeat;
			left: 5px;
		}
		&.next {
			background: url(../js/carousel_arrownext.png) no-repeat;
			right: 5px;
			margin-top: 0;
		}
	}
	.single-video{
		margin: 5px;
		cursor: pointer;
		position: relative;
		.modal-video-title{
			font-size: .8rem;
			text-align: left;
			display: inline-block;
			margin-top: 10px;
		}
		.play-button{
			display: block;
			width: 50px;
			height: 50px;
			position: absolute;
			top: 55px;
			left: 50%;
			transform: translate(-50%,0);
			z-index: 10;
			background: url(../img/play_btn.png) no-repeat center / contain;
			filter: grayscale(100%);
			transition: filter ease .3s;
		}
		&:hover{
			.play-button{
				filter: grayscale(0%);
			}
		}
	}
}

.modal-video-inner{
	flex-wrap: wrap;
	.modal-video-movie-wrap{
		margin-top: auto;
	}
	.modal-video-text{
		display: inline-block;
		text-align: center;
		color: #fff;
		font-size: 0.9rem;
		margin-bottom: auto;
		width: 100%;
	}
}